

body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fff;
    margin: 0;
    margin: auto; 
    scroll-behavior: smooth;
    cursor:default;
}

main {
    margin: auto;
    padding: 0 10%;
    max-width: 1100px;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    line-height: 1.3rem;
    margin-bottom: 1.3rem;
}

.grid a:hover, nav :hover, nav ul:hover, ul li:hover {
    text-decoration: underline;
    color: #306471;
}

.background nav ul li:hover {
    text-decoration: underline;
    color: #d9d9d9;
}

.background nav a:hover {
    color: #d9d9d9;
}

img {
    max-width: 100%;
}

hr {
    margin: 0;
}

.short-hr {
    max-width: 1100px;
    margin: auto;
}

header nav a {
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
}

.info {
    padding-block-end: 10%;
    color: #fff;
    max-width: 1100px;
    margin:auto;
    
}

header {
    max-width: 1100px;
    padding: 1% 10%;
    padding-block-end: 0%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sito a {
    color: #306471;
    font-family: "Cuprum", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.background header nav a {
    color: #fff;
}
.background {
    background-color: #306471;
    background-image: url(/img/home\ background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.info h1 {
    font-family: "Cuprum", sans-serif;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-transform: uppercase;
    max-width: 60%;
    padding-top: 4rem;
}

.info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 90%;
    padding-top: 1rem;
}

.info h3 {
    font-family: Cuprum;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding-top: 4rem;
}

.info h4 {
    font-family: montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
    padding-top: 0.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 100px;  
}


.par {
    padding: 10% 0 0 0;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 160px;
}

.par h1 {
    font-family: Cuprum;
    font-size: 64px;
    line-height: 90%;
    color: #306471;
    text-transform: uppercase;
}

.h1 {
    max-width: 260px;
    word-wrap: break-word;
    object-fit: cover;
}

.grid {
    padding: 10% 0 50% 0%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.square {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    padding: 10%
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    align-items: center;
    aspect-ratio: 1/1;
}



.grid a {
    font-family: "Cuprum", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
}

footer {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

footer nav a, ul a {
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

footer ul {
    list-style: none;
    gap: 100px;
    display: flex;
}

footer nav {
    max-width: 260px;
}

